#container{
    display: flex;
    flex-direction: column;
  }
  header{
      border-bottom:1px solid gray;
      padding-left:20px;
  }
  footer{
      border-top:1px solid gray;
      padding:20px;
      text-align: center;
  }
  #content{
      display:flex;
      align-items: center;
  }
  #teachable{
      border:1px solid gray;

      width: 30%;
        height: 100%;
        text-align: center;
    margin: auto;
      

  }
  #maze_section{

      border:1px solid gray;
      width: 50%;
      height: 100%;
      
      text-align: center;
        margin: auto;


  }
  #maze{
      border:5px solid gray;
    
  }
  #maze_container{
      width: 100%;
      height: 100%;
      
  }